*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #ffffff;
}

body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #212121;
}

.container{
        position: relative;
}

.clock{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background-color: rgba(225, 225, 255, 0.1);
        border: 2px solid rgba(225, 225, 255, 0.25);
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../space.gif");
        background-position: center;
        background-size:cover;
}

.clock span{
        position: absolute;
        transform: rotate(calc(30deg * var(--i)));    /* 360/12 */
        inset: 12px;
        text-align: center;
}

.clock span b{
        position: absolute;
        transform: rotate(calc(-30deg * var(--i)));
        font-size: 20px;
}

.clock::before{
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: white;
}

.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    background-color: var(--clr);
    width: 4px;
    height: 70px;
    border-radius: 8px;
}

h1{
    
    position: absolute;
    bottom: 100px;
    font-weight: bold;
}